{block head}
<title>Domovská stránka | Eshop</title>
{/block}
{block content}
<script type="text/javascript" src="{$basePath}/js/FrontModule/default.js"></script>
<!-- header -->
{include "../_parts/header.latte"}
<!-- //header -->
<!-- header-bot -->
{include "../_parts/search.latte"}
<!-- //header-bot -->
<!-- banner -->
{snippet menu}
{include "../_parts/menu.latte"}
{/snippet}
<!-- //banner-top -->
<!-- banner -->
{include "../_parts/slider.latte"}
<!-- //banner -->
<!-- product-nav -->
{include "../_parts/offer.latte"}
<!-- //product-nav -->
{include "../_parts/banner.latte"}
<!-- footer -->
{include "../_parts/footer.latte"}
<!-- //footer -->