<div class="checkout">
    <div class="container">
        <div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
            <table class="timetable_sub">
                <thead>
                <tr>
                    <th>Odstranit</th>
                    <th>Produkt</th>
                    <th>Počet</th>
                    <th>Název</th>
                    <th>Cena za ks</th>
                </tr>
                </thead>
                {if $ordered->getItemCart()}
                    {foreach $ordered->getItemCart() as $itemCard}
                        <tr class="rem{$itemCard->getId()}">
                            <td class="invert-closeb">
                                <div class="rem">
                                    <a class="ajax" n:href="removeItemCart! $itemCard->getId()">
                                        <div class="close1"></div>
                                    </a>
                                </div>
                            </td>
                            <td class="invert-image"><a href="#"><img
                                            src="{$basePath}{$itemCard->getProduct()->getFoto()[0]->getPath()}"
                                            alt="{$itemCard->getProduct()->getName()}" class="img-responsive"/></a></td>
                            <td class="invert">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <a class="ajax" n:href="changeCount! id => $itemCard->getId(), change => 1, plus => false"><div class="entry value-minus">&nbsp;</div></a>
                                        <div class="entry value"><span>{$itemCard->getCount()}</span></div>
                                       <a class="ajax" n:href="changeCount! id => $itemCard->getId(), change => 1, plus => true"><div class="entry value-plus active">&nbsp;</div></a>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">{$itemCard->getProduct()->getName()}</td>
                            <td class="invert">{$itemCard->getProduct()->getPrice()|number:2:',':' '} Kč</td>
                        </tr>
                    {/foreach}
                {/if}
                <!--quantity-->
                <script>
                    $('.value-plus').on('click', function () {
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
                        divUpd.text(newVal);
                    });

                    $('.value-minus').on('click', function () {
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
                        if (newVal >= 1) divUpd.text(newVal);
                    });
                </script>
            </table>
        </div>
        <div class="checkout-left">
            <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
                <h4>Nákupní košík</h4>
                <ul>
                    {if $ordered->getItemCart()}
                    {foreach $ordered->getItemCart() as $itemCard}
                        <li>{$itemCard->getProduct()->getName()} <i>-</i>
                            <span>{$itemCard->getProduct()->getPrice()*$itemCard->getCount()|number:2:',':' '} Kč</span>
                        </li>
                    {/foreach}
                    <li>Celkem s DPH <i>-</i> <span>{$ordered->getPrice()|number:2:',':' '} Kč</span></li>
                    {/if}
                </ul>
            </div>

            <div class="clearfix"></div>
            <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
                <a href="{link "Homepage:"}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Do eshopu</a>
            </div>
        </div>
        <div n:if="count($ordered->getItemCart()) && $ordered->getPrice()" class="pull-right">
            <div class="clearfix"></div>
            <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
                <a href="{link "Address:"}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Dodací údaje</a>
            </div>
        </div>
    </div>
</div>