{block head}
<title>Košík | Eshop</title>
{/block}
{block content}
<!-- header -->
{include "../_parts/header.latte"}
<!-- //header -->
<!-- header-bot -->
{include "../_parts/search.latte"}
<!-- //header-bot -->
<!-- banner -->
{snippet menu}
{include "../_parts/menu.latte"}
{/snippet}
<!-- //banner-top -->
<!-- banner -->
<div class="page-head">
    <div class="container">
        <h3>Nákupní košík</h3>
    </div>
</div>
<!-- //banner -->
<!-- check out -->
{snippet itemCart}
{include "cart.latte"}
{/snippet}
<!-- //check out -->
<!-- footer -->
{include "../_parts/footer.latte"}
<!-- //footer -->