{block head}
    <title>Adresa | Eshop</title>
{/block}
{block content}
<!-- header -->
{include "../_parts/header.latte"}
<!-- //header -->
<!-- header-bot -->
{include "../_parts/search.latte"}
<!-- //header-bot -->
<!-- banner -->
{snippet menu}
    {include "../_parts/menu.latte"}
{/snippet}
<!-- //banner-top -->
<!-- banner -->
<div class="page-head">
    <div class="container">
        <h3>Adresa</h3>
    </div>
</div>


<div class="col-md-12" style="margin: 80px 0px 80px 0px" ;>


    {if $ordered->getPrice() > 0}
        <div class="col-md-4 col-lg-offset-4">
            <div class="text-center">
                <h2>Doručovací adresa</h2>
            </div>
            <br>
            <form n:name=addressForm class=form>
                <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"
                      style="min-width: 80px;"><label n:name=name>Jméno:</label></span> <input n:name=name
                            class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2" style="min-width: 80px;"><label n:name=surname>Příjmení:</label></span>
                    <input n:name=surname class="form-control">
                </div>
                <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"
                      style="min-width: 80px;"><label n:name=phone>Telefon:</label></span> <input n:name=phone
                            class="form-control">
                </div>
                <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"
                      style="min-width: 80px;"><label n:name=email>Email:</label></span> <input n:name=email
                            class="form-control">
                </div>
                <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"
                      style="min-width: 80px;"><label n:name=country>Stát:</label></span> <input n:name=country
                            class="form-control">
                </div>
                <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"
                      style="min-width: 80px;"><label n:name=city>Město:</label></span> <input n:name=city
                            class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2" style="min-width: 80px;"><label n:name=address>Adresa:</label></span>
                    <input n:name=address class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"
                          id="sizing-addon3"><label n:name=agree>Rozumím, testovací eshop:</label></span>
                    <input n:name=agree class="form-control">
                </div>

                <div class="pull-right">
                <input n:name=send class="btn btn-success">
            </div>
            </form>
        </div>
    {else}
        <div class="col-md-8 col-lg-offset-3">
            <h1>Nákupní košík je prázdný, pokračujte do <a href="{link 'Homepage:'}">eshopu.</a></h1>
        </div>
    {/if}


</div>

<!-- //banner -->
<!-- footer -->
{include "../_parts/footer.latte"}
<!-- //footer -->