<!DOCTYPE html>
<html>
<head>
    {include head}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>


    <!-- //for-mobile-apps -->
    <link href="{$basePath}/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- pignose css -->
    <link href="{$basePath}/css/pignose.layerslider.css" rel="stylesheet" type="text/css" media="all"/>


    <!-- //pignose css -->
    <link href="{$basePath}/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script type="text/javascript" src="{$basePath}/js/FrontModule/template/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/nette/nette.ajax.js"></script>
    <script type="text/javascript" src="{$basePath}/js/FrontModule/template/pignose.layerslider.js"></script>
    <script src="{$basePath}/js/FrontModule/template/easyResponsiveTabs.js" type="text/javascript"></script>

    <!-- //js -->
    <!-- cart -->
    <script src="{$basePath}/js/FrontModule/template/simpleCart.min.js"></script>
    <!-- cart -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="{$basePath}/js/FrontModule/template/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
          rel='stylesheet' type='text/css'>
    <script src="{$basePath}/js/FrontModule/template/jquery.easing.min.js"></script>
    <script src="{$basePath}/js/FrontModule/layout.js"></script>

    <script type="text/javascript">
        window.smartlook||(function(d) {
            var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
            var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
            c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', '218776d0d12031bf0b25ca81cf166fbd8c28bce2');
    </script>
</head>

<body>
{if !isset($popupSession)}
    {include "_parts/info.latte"}
{/if}
{include content}

</body>
</html>
