n{block head}
    <title>Objednávka dokončena | Eshop</title>
{/block}
{block content}
<!-- header -->
{include "../_parts/header.latte"}
<!-- //header -->
<!-- header-bot -->
{include "../_parts/search.latte"}
<!-- //header-bot -->
<!-- banner -->
{snippet menu}
    {include "../_parts/menu.latte"}
{/snippet}
<!-- //banner-top -->
<!-- banner -->
<div class="page-head">
    <div class="container">
        <h3>Děkujeme</h3>
    </div>
</div>

<div class="col-md-12" style="margin: 150px 0px 50px 0px" ;>
    {if isset($orderedDone) && $orderedDone}
        <div style="margin-bottom: 50px" ;>
            <div class="text-center">
                <h2>Děkujeme {$orderedDone->getName()} {$orderedDone->getSurname()}, testovací objednávka byla odeslána. :)</h2>
                <h2>Adresa: {$orderedDone->getCountry()}, {$orderedDone->getCity()}, {$orderedDone->getAddress()}</h2>
            </div>
        </div>
    {else}
        <div style="margin-bottom: 50px" ;>
            <div class="text-center">
                <h2>Taková objednávka neexistuje. :(</h2>
            </div>
        </div>
    {/if}
    {if isset($orderedDone) && $orderedDone && $orderedDone->getItemCart()}
        <div>

            <table class="timetable_sub" style="max-width: 800px; margin-bottom: 50px">
                <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Počet</th>
                    <th>Název</th>
                    <th>Cena za ks</th>
                </tr>
                </thead>

                {foreach $orderedDone->getItemCart() as $itemCard}
                    <tr class="rem{$itemCard->getId()}">
                        <td class="invert-image"><a href="#"><img
                                        src="{$basePath}{$itemCard->getProduct()->getFoto()[0]->getPath()}"
                                        alt="{$itemCard->getProduct()->getName()}" class="img-responsive"/></a></td>
                        <td class="invert">
                            <h3>{$itemCard->getCount()}</h3>
                        </td>
                        <td class="invert"><h3>{$itemCard->getProduct()->getName()}</h3></td>
                        <td class="invert"><h3>{$itemCard->getProduct()->getPrice()|number:2:',':' '} Kč</h3></td>
                    </tr>
                {/foreach}

                <!--quantity-->
            </table>
            <div class="col-md-12">
            <div class="checkout-left-basket animated wow slideInLeft pull-left col-md-offset-5" data-wow-delay=".5s" style="display: block; margin-bottom: 200px;">
                <h4>Nákupní košík</h4>
                <ul>
                    {foreach $orderedDone->getItemCart() as $itemCard}
                        <li>{$itemCard->getProduct()->getName()} <i>-</i>
                            <span>{$itemCard->getProduct()->getPrice()*$itemCard->getCount()|number:2:',':' '} Kč</span>
                        </li>
                    {/foreach}
                    <li>Celkem s DPH <i>-</i> <span>{$orderedDone->getPrice()|number:2:',':' '} Kč</span></li>

                </ul>
            </div>
        </div>
        </div>
    {/if}
</div>


<!-- //banner -->
<!-- footer -->
{include "../_parts/footer.latte"}
<!-- //footer -->