<div class="footer col-lg-offset-2">
    <div class="container">
        <div class="col-md-3 footer-left">
            <h2><a href="{link "Homepage:"}"><img src="{$basePath}/images/logo3.jpg" alt=" " /></a></h2>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor
                sit amet, consectetur, adipisci velit, sed quia non
                numquam eius modi tempora incidunt ut labore
                et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
        <div class="col-md-9 footer-right">

            <div class="clearfix"></div>
            <div class="sign-grds">
                <div class="col-md-4 sign-gd">
                    <h4>Informace</h4>
                    <ul>
                        <li><a href="{link "Homepage:"}">Domovská stránka</a></li>
                    </ul>
                </div>

                <div class="col-md-4 sign-gd-two">
                    <h4>Eshop</h4>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address : Roztoky</li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a href="mailto:info@miroslavharovsky.cz">info@miroslavharovsky.cz</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <p class="copy-right pull-left col-lg-offset-2">&copy 2017 Smart Shop. | Programmer Miroslav Hařovský | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>