<div class="header">
    <div class="container">
        <ul>
            <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Rychlá doprava</li>
            <li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Doprava zdarma</li>
            <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@miroslavharovsky.cz">info@miroslavharovsky.cz</a></li>
        </ul>
    </div>
</div>