<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="max-width: 500px;">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modal-spa">
                <div class="login-grids">
                    <div class="login">
                        <div class="login-right" style="width: 92%;">
                            <h1 class="text-center" style="padding-bottom: 10px">Eshop</h1>
                            <h3 class="text-center">Miroslav Hařovský</h3>
                            <p>Ahoj, jsem PHP programátor a tento eshop je můj referenční projekt.</p>
                            <p>Na tomto eshopu nejde koupit žádné zboží.
                            <p>K vývoji jsem využil Nette framework, ORM Doctrine a Bootstrap šablonu.</p>
                            <p> Projekt je dostupný na <a href="https://bitbucket.org/ikarosBitbucket/eshop" target="_blank">Bitbucketu.</a> </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div style="padding: 30px 0px 10px 0px;">
                        <div class="text-center">
                            <a n:href="popupSession!" onclick="$('#info').modal('hide')" class="btn btn-info ajax" data-ajax-off="history">
                               Rozumím</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>