<div class="col-md-3 product-men yes-marg">
    <div class="men-pro-item simpleCart_shelfItem">
        <div class="men-thumb-item">

            <img src="{if $product->getFoto()[0]}{$product->getFoto()[0]->getPath()}{else} \images\g2.png {/if}" alt="" class="pro-image-front">
            <img src="{if $product->getFoto()[0]}{$product->getFoto()[0]->getPath()}{else} \images\g2.png {/if}" alt="" class="pro-image-back">

        </div>
        <div class="item-info-product ">
            <h4><a href="single.html">{$product->getName()}</a></h4>
            <div class="info-product-price">
                <span class="item_price">{$product->getPrice()|number:2:',':' '} Kč</span>
                <del>{$product->getPrice()+2000|number:2:',':' '} Kč</del>
            </div>
            <a n:href="addToCart! $product->getId()" class="item_add single-item hvr-outline-out button2">Přidat do košíku</a>
        </div>
    </div>

</div>