<div class="product-easy">
    <div class="container">

        <div class="sap_tabs">
            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                <ul class="resp-tabs-list">
                    <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Novinky</span></li>
                    <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Doporučujeme</span></li>
                </ul>
                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                        {foreach $news as $product}
                        {include "../_parts/item.latte", product => $product}
                        {/foreach}
                        <div class="clearfix"></div>
                    </div>
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                        {foreach $recommended as $product}
                            {include "../_parts/item.latte", product => $product}
                        {/foreach}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>