<div class="header-bot">
    <div class="container">
        <div class="col-md-3 header-left">
            <h1><a href="{link "Homepage:"}"><img src="{$basePath}/images/logo3.jpg"></a></h1>
        </div>
        <div class="col-md-6">

        </div>
        <div class="col-md-3 header-right footer-bottom">
            <ul>
                </li>
                <li><a class="fb" href="#"></a></li>
                <li><a class="twi" href="#"></a></li>
                <li><a class="insta" href="#"></a></li>
                <li><a class="you" href="#"></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>